* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a:active, a:focus {
  outline: none; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }

body, p, h1, h2, h3 {
  margin: 0; }

button:active, button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
    color: inherit;
}
a:hover {
  text-decoration: none; }

a, button, input[type="submit"] {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none; }

ul {
  list-style-type: none; }

input, textarea {
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  border: none; }

input[type="search"]::-webkit-search-cancel-button {
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal,
input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

body {
  min-width: 320px;
  overflow-x: hidden;
  font: 400 18px/30px "OpenSans";
  color: #222222;
}
  body.no-scroll {
    overflow: hidden;
    pointer-events: none; }

.shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .shadow.show {
    opacity: 1;
    pointer-events: none; }

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 22px; }

.m-panel {
  display: none; }

.hamburger {
  display: none; }

.wrap {
  max-width: 1820px;
  padding: 0 195px;
  margin: 0 auto;
  min-width: 290px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.logo {
  position: relative;
  height: 125px;
  width: 125px;
  display: inline-block; }
  .logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 2px solid #E5E5E5; }
  .header .info {
    background: #EB061E;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header .info .wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header .info .wrap a {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 0; }
  .header > .wrap {
    position: relative; }
  .header .flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 85px; }
    .header .flex .logo {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      top: 50%; }
    .header .flex .action {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
      .header .flex .action .nav .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 -12px; }
        .header .flex .action .nav .menu > li {
          margin: 0 12px;
          position: relative; }
          .header .flex .action .nav .menu > li:hover a:after,
          .header .flex .action .nav .menu > li.current-menu-item a:after,
          .header .flex .action .connect:hover:after,
          .header .flex .action .connect.current:after {
            opacity: 1; }
          .header .flex .action .nav .menu > li:hover ul {
            opacity: 1;
            pointer-events: all; }
          .header .flex .action .nav .menu > li > a {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            color: #222222;
            padding: 30px 0;
            display: inline-block; }
            .header .flex .action .nav .menu > li > a:after, .header .flex .action .connect:after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 5px;
              background: #EB061E;
              opacity: 0;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
          .header .flex .action .nav .menu > li ul {
            position: absolute;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 5px 0 8px;
            pointer-events: none;
            opacity: 0;
            background: #fff;
            top: 84px;
            left: -20px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            z-index: 5;
            border: 2px solid #e5e5e5;
            min-width: 210px; }
            .header .flex .action .nav .menu > li ul li a {
              font-size: 18px;
              padding: 10px 20px;
              display: block;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s;
              font-weight: 700;
              line-height: 1;
              font-weight: 700; }
              .header .flex .action .nav .menu > li ul li a:hover {
                background: #EB061E;
                color: #fff; }
      .header .flex .action .connect {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        padding: 30px 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .flex .action .connect:hover span {
          color: #EB061E; }
        .header .flex .action .connect .icon {
          font-size: 25px; }
        .header .flex .action .connect span {
          font-size: 18px;
          font-weight: 700;
          display: inline-block;
          margin-left: 15px;
          line-height: 1;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }

.footer {
  background: #222222;
  padding-bottom: 20px; }
  .footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: -58px; }
    .footer .flex .logo {
      width: 146px;
      height: 162px;
      margin-bottom: 25px; }
    .footer .flex .footer-info {
      margin-bottom: 57px; }
      .footer .flex .footer-info * {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        display: block;
        text-align: center;
        font-weight: 400; }
      .footer .flex .footer-info strong {
        font-weight: 700; }
    .footer .flex .copyright p {
      font-size: 15px;
      color: #848484;
      font-family: "OpenSans"; }

html,
body {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%; }
  .wrapper main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .wrapper .footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }

.hamburger {
  display: none; }

.btn {
  border: 2px solid #EB061E;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  background: #EB061E;
  color: #fff;
  min-width: 270px;
  padding: 9px 15px;
  display: inline-block;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
.btn.active, .btn:hover {
    background: #fff;
    color: #EB061E; }

.editor {
  margin-bottom: 30px; }
  .editor .mb-15 {
    margin-bottom: 15px; }
  .editor ol, .editor ul {
    margin-top: 10px;
    margin-bottom: 20px; }
    .editor ol li, .editor ul li {
      padding-left: 10px;
      line-height: 30px; }
  .editor ul {
    list-style-type: none;
    counter-reset: num; }
    .editor ul li {
      position: relative; }
      .editor ul li::before {
        content: '';
        width: 5px;
        height: 5px;
        top: 14px;
        left: 3px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        display: block;
        position: absolute;
        background: #000;
        border-radius: 100%; }
  .editor ol {
    list-style-type: none;
    counter-reset: num;
    margin: 20px 0 40px; }
    .editor ol li {
      padding-left: 20px;
      position: relative;
      line-height: 30px;
      font-size: 18px;
      margin-bottom: 20px; }
      .editor ol li::before {
        position: absolute;
        top: 0;
        content: counter(num) ". ";
        counter-increment: num;
        color: #000;
        left: 15px;
        top: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        font-size: 14px;
        font-weight: 700; }
  .editor img {
    margin: 20px auto;
    display: block; }
  .editor iframe {
    width: 100%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 20px; }
  .editor a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .editor a:hover {
      opacity: 0.7; }
  .editor u {
    text-decoration: underline; }
    .editor u * {
      text-decoration: underline; }
  .editor h1,
  .editor h2,
  .editor h3,
  .editor h4,
  .editor h5,
  .editor h6 {
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1; }
  .editor h1 {
    font-size: 44px; }
  .editor h2 {
    font-size: 40px; }
  .editor h3 {
    font-size: 36px; }
  .editor h4 {
    font-size: 32px; }
  .editor h5 {
    font-size: 28px; }
  .editor h6 {
    font-size: 24px; }

main {
  position: relative;
  padding-top: 135px;
  padding-bottom: 120px; }

.section-main .wrap {
  height: 100%; }

.section-main .slider-main .swiper-container {
  min-height: 945px;
  height: 100vh; }
  .section-main .slider-main .swiper-container .swiper-pagination-bullets {
    bottom: 22px; }
    .section-main .slider-main .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background: #fff;
      margin: 0 8px;
      border-radius: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      opacity: 1; }
      .section-main .slider-main .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #EB061E; }

.section-main .slider-main .swiper-slide .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 90px; }

.section-main .slider-main .swiper-slide .info {
  border: 2px solid #E5E5E5;
  padding: 30px 40px 40px 50px;
  max-width: 630px;
  background: #fff;
  margin-left: -50px; }
  .section-main .slider-main .swiper-slide .info .title {
    margin-bottom: 14px; }
  .section-main .slider-main .swiper-slide .info .editor {
    margin-bottom: 25px; }
  .section-main .slider-main .swiper-slide .info .action {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-main .slider-main .swiper-slide .info .action .btn {
      min-width: 220px; }
    .section-main .slider-main .swiper-slide .info .action .sl-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .section-main .slider-main .swiper-slide .info .action .sl-btn .swiper-button-prev,
      .section-main .slider-main .swiper-slide .info .action .sl-btn .swiper-button-next {
        position: static;
        width: 22px;
        height: 42px;
        -webkit-background-size: contain;
        background-size: contain;
        margin: 0 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .section-main .slider-main .swiper-slide .info .action .sl-btn .swiper-button-prev:hover,
        .section-main .slider-main .swiper-slide .info .action .sl-btn .swiper-button-next:hover {
          opacity: 0.6; }

.section-main .slider-main .swiper-slide .img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: -webkit-calc(100% - 375px);
  width: calc(100% - 375px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .columns .content {
    padding-top: 60px;
    margin-right: 50px;
    width: -webkit-calc(100% - 455px);
    width: calc(100% - 455px); }
    .columns .content .block-main {
      max-width: 650px; }
  .columns .aside {
    margin-top: -75px;
    width: 405px; }
    .columns .aside .title {
      margin-bottom: 10px; }
      .columns .aside .title h2, .columns .aside .title h3, .columns .aside .title h4, .columns .aside .title h5, .columns .aside .title h6 {
        font-size: 30px; }
    .columns .aside .cont {
      border: 2px solid #E5E5E5;
      padding: 44px 45px 45px 50px;
      background: #fff;
      position: relative;
      z-index: 20;
      margin-bottom: 35px; }
      .columns .aside .cont:last-child {
        margin-bottom: 0; }
      .columns .aside .cont .info-alarms * {
        font-size: 18px;
        line-height: 30px; }
      .columns .aside .cont .info-alarms .atten-info {
        margin-bottom: 28px; }
      .columns .aside .cont .info-alarms .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .columns .aside .block-archives {
      padding: 30px 50px; }
      .columns .aside .block-archives ul {
        margin-top: 15px; }
        .columns .aside .block-archives ul li a {
          font-size: 18px;
          line-height: 20px;
          color: #EB061E;
          display: inline-block;
          margin-bottom: 5px; }

.main-info .columns .content {
  padding-top: 135px; }

.ds {
  min-width: 48px;
  border-radius: 5px;
  min-height: 9px;
  background: #fff;
  display: inline-block; }
  .ds.dark {
    background: #20242e; }
  .ds.white {
    background: #fff; }

.title {
  width: 100%;
  margin-bottom: 10px; }
  .title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
    font-size: 48px;
    font-weight: 700;
    color: #222222;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Oswald"; }
.agenda-page .title, .organization .title {
  text-align: center;
}

.container {
  padding-bottom: 30px; }
  .container.vehicles-section .section-text.single-text {
    margin-bottom: 0; }
  .container .section-text {
    margin: 55px auto  25px; }
    .container .section-text .editor p {
      margin-bottom: 30px; }
      .container .section-text .editor p:last-child {
        margin-bottom: 0; }
    .container .section-text .action-btn {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 8px;
      margin-top: 40px; }
      .container .section-text .action-btn .btn {
        margin: 0 12px 12px;
        min-width: 185px; }
    .container .section-text.single-text {
      max-width: 650px;
      margin-bottom: 20px; }
.agenda-page .section-text.single-text {
  max-width: none;
  padding: 0 30px; }
.agenda-page .section-text .action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.agenda-page .btn {
  color: #EB061E;
  background-color: #FFF;
}
.agenda-page .btn.active, .agenda-page .btn:hover {
  color: #FFF;
  background-color: #EB061E;
}
      .container .section-text.single-text .editor:last-child {
        margin-bottom: 0; }
    .container .section-text.twin-text {
      width: -webkit-calc(100% + 140px);
      width: calc(100% + 140px);
      margin-left: -70px; }
      .container .section-text.twin-text .item-text {
        width: -webkit-calc(50% - 140px);
        width: calc(50% - 140px);
        margin: 0 70px 50px; }

.vehicles-posts {
  padding-top: 25px; }
  .vehicles-posts .block-posts {
    width: -webkit-calc(100% + 34px);
    width: calc(100% + 34px);
    margin-left: -17px; }
    .vehicles-posts .block-posts .item-posts {
      display: block;
      width: -webkit-calc(33.33% - 34px);
      width: calc(33.33% - 34px);
      margin: 0 17px 34px;
      border: 2px solid #E5E5E5;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
.organization .block-posts .item-posts {
  width: -webkit-calc(20% - 34px);
  width: calc(20% - 34px);
}
      .vehicles-posts .block-posts .item-posts:hover {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
        .vehicles-posts .block-posts .item-posts:hover .title-post {
          color: #EB061E; }
      .vehicles-posts .block-posts .item-posts .img {
        height: 14vw;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-position: center;
        width: 100%;
        display: block; }
      .vehicles-posts.organization .block-posts .item-posts .img {
        height: 17vw;
      }
      .vehicles-posts .block-posts .item-posts .title-post {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Oswald";
        display: block;
        margin: 23px 10px 12px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .vehicles-posts .block-posts .item-posts .desc {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        display: block;
        margin: 0 10px 19px; }

.regulation-documents {
  margin-bottom: 15px; }
  .regulation-documents .wrap {
    text-align: center; }
  .regulation-documents .title {
    margin-bottom: 35px; }
  .regulation-documents .block-btn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .regulation-documents .block-btn .btn {
      margin: 0 13px 13px;
      min-width: 320px; }

.banner {
  display: block;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 55px; }
  .banner.mb {
    margin-bottom: 0; }

.banner-parallax {
  display: block;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }

.table-list .title {
  margin-top: 50px;
  margin-bottom: 25px; }
  .table-list .title h1, .table-list .title h2, .table-list .title h3, .table-list .title h4, .table-list .title h5, .table-list .title h6 {
    font-size: 32px; }

.table-list .block-list .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 25px;
  position: relative;
  padding: 7px 30px 7px 0;
  border-bottom: 2px solid #E5E5E5; }
  .table-list .block-list .row:first-child {
    border-top: 2px solid #E5E5E5; }
  .table-list .block-list .row * {
    font-size: 18px;
    line-height: 30px; }
  .table-list .block-list .row span {
    padding-right: 15px; }
  .activities.table-list .block-list .row .name {
    color: #EB061E;
    width: 21%;
  }
  .traffic-info.table-list .block-list .row .name {
    color: #EB061E;
    width: 70%;
  }
  .traffic-info.table-list .block-list .row .dates {
    width: 30%;
  }
  .table-list .block-list .row .name {
    color: #EB061E;
    width: 21%; }
  .table-list .block-list .row .desc {
    width: 32%; }
  .table-list .block-list .row .country {
    width: 15%; }
  .table-list .block-list .row .city {
    width: 15%; }
  .table-list .block-list .row .date {
    width: 50px;
    margin-right: 10px;
    padding: 0px; }
  .table-list .block-list .row .time {
    width: 50px;
    padding: 0; }
  .table-list .block-list .row .icon {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.block-tabs {
  margin-top: 15px; }
  .block-tabs .links-tab {
    width: -webkit-calc(100% + 26px);
    width: calc(100% + 26px);
    margin-left: -13px;
    margin-bottom: 65px; }
    .block-tabs .links-tab .btn {
      min-width: 160px;
      margin: 0 13px 10px;
      padding: 9px 48px; }

.point-desc .info-list {
  margin-bottom: 40px; }
  .point-desc .info-list.info-active .row strong {
    width: 220px; }
  .point-desc .info-list.info-active .row span {
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    display: block; }
  .point-desc .info-list .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .point-desc .info-list .row * {
      font-size: 18px;
      line-height: 30px; }
    .point-desc .info-list .row strong {
      font-weight: 700;
      width: 185px;
      display: inline-block;
      padding-right: 20px; }
    .point-desc .info-list .row span {
      width: -webkit-calc(100% - 195px);
      width: calc(100% - 195px);
      display: block; }

.list-alarms {
  margin-bottom: 20px; }
  .list-alarms .row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px; }
  .list-alarms.pl .row {
    padding-left: 30px;
  }
    .list-alarms .row * {
      font-size: 18px;
      line-height: 26px; }
    .list-alarms .row .icon {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 1; }
    .list-alarms .row .date {
      display: inline-block;
      margin-right: 20px; }
    .list-alarms .row .text {
      color: #EB061E;
      text-transform: uppercase; }
    .list-alarms.cont .row .text {
        display: flex;
        flex-direction: column;
    }
    .list-alarms.cont .row .text .title-bold {
        font-weight: bold;
    }

.section-person .info {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .section-person .info .title {
    margin-bottom: 0;
    margin-right: 30px; }
  .section-person .info .btn {
    min-width: 215px; }

.section-person .person-area {
  width: -webkit-calc(100% + 34px);
  width: calc(100% + 34px);
  margin-left: -17px; }
  .section-person .person-area .item-area {
    width: -webkit-calc(33.33% - 34px);
    width: calc(33.33% - 34px);
    margin: 0 17px 34px;
    padding: 40px 45px 45px;
    border: 2px solid #E5E5E5;
    background: #fff; }
    .section-person .person-area .item-area .title {
      margin-bottom: 10px; }
      .section-person .person-area .item-area .title h2, .section-person .person-area .item-area .title h3, .section-person .person-area .item-area .title h4, .section-person .person-area .item-area .title h5, .section-person .person-area .item-area .title h6 {
        font-size: 32px;
        font-weight: 500; }
    .section-person .person-area .item-area .cont {
      position: relative;
      margin-bottom: 22px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .section-person .person-area .item-area .cont .message {
        padding-left: 30px;
        position: relative;
        display: inline-block; }
        .section-person .person-area .item-area .cont .message .icon {
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 16px; }
          .section-person .person-area .item-area .cont .message .icon.unread {
            font-size: 10px; }
      .section-person .person-area .item-area .cont:last-child {
        margin-bottom: 0; }
      .section-person .person-area .item-area .cont .info-alarms * {
        font-size: 18px;
        line-height: 26px; }
      .section-person .person-area .item-area .cont .info-alarms .atten-info {
        margin-bottom: 40px; }
      .section-person .person-area .item-area .cont .info-alarms .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .section-person .person-area .item-area .cont * {
        font-size: 18px;
        font-weight: 400;
        text-transform: initial; }
      .section-person .person-area .item-area .cont .info-profile {
        margin-bottom: 35px; }
        .section-person .person-area .item-area .cont .info-profile:last-child {
          margin-bottom: 0; }
        .section-person .person-area .item-area .cont .info-profile * {
          font-size: 18px;
          display: block; }
        .section-person .person-area .item-area .cont .info-profile strong {
          font-weight: 700; }
      .section-person .person-area .item-area .cont .link-item {
        color: #EB061E; }
        .section-person .person-area .item-area .cont .link-item:hover {
          text-decoration: underline; }

.doc-load-link {
  padding-left: 30px;
  position: relative;
  display: inline-block;
  color: #EB061E; }
  .doc-load-link:hover {
    text-decoration: underline; }
  .doc-load-link .icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.section-docs .info {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .section-docs .info .title {
    margin-bottom: 0;
    margin-right: 30px;
    width: auto; }
  .section-docs .info .action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .section-docs .info .action .btn {
      min-width: 215px;
      padding: 9px 45px; }
      .section-docs .info .action .btn:last-child {
        margin-left: 35px; }

.section-docs .block-docs {
  width: -webkit-calc(100% + 34px);
  width: calc(100% + 34px);
  margin-left: -17px; }
  .section-docs .block-docs .item {
    width: -webkit-calc(33.33% - 34px);
    width: calc(33.33% - 34px);
    margin: 0 17px 60px;
    background: #fff; }
    .section-docs .block-docs .item .title {
      margin-bottom: 10px; }
      .section-docs .block-docs .item .title h2, .section-docs .block-docs .item .title h3, .section-docs .block-docs .item .title h4, .section-docs .block-docs .item .title h5, .section-docs .block-docs .item .title h6 {
        font-size: 32px;
        font-weight: 500; }
    .section-docs .block-docs .item .list-doc {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }

.single-vehicle .block-info .text {
  width: -webkit-calc(50% - 80px);
  width: calc(50% - 80px); }

.single-vehicle .block-info .img {
  height: 21vw;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-position: center;
  width: 50%;
  display: block;
  margin-left: 80px; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?fgc4ld");
  src: url("../fonts/icomoon/icomoon.eot?fgc4ld#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?fgc4ld") format("truetype"), url("../fonts/icomoon/icomoon.woff?fgc4ld") format("woff"), url("../fonts/icomoon/icomoon.svg?fgc4ld#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-signs:before {
  content: "\e906"; }

.icon-multimedia-option:before {
  content: "\e900"; }

.icon-mail:before {
  content: "\e901"; }

.icon-ml-close:before {
  content: "\e902";
  color: #eb061e; }

.icon-pdf:before {
  content: "\e903"; }

.icon-picture:before {
  content: "\e904"; }

.icon-profile:before {
  content: "\e905";
  color: #eb061e; }

@media (max-width: 1825px) {
  .header .flex .logo {
    left: 1vw; }
  .wrap {
    padding: 0px 160px; } }

@media (max-width: 1500px) {
  .section-person .person-area .item-area {
    padding: 40px 30px 45px; }
    .section-person .person-area .item-area .title h2, .section-person .person-area .item-area .title h3, .section-person .person-area .item-area .title h4, .section-person .person-area .item-area .title h5, .section-person .person-area .item-area .title h6 {
      font-size: 28px; }
  .block-tabs .links-tab {
    margin-bottom: 35px; }
  .single-vehicle .block-info .text {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px); }
  .single-vehicle .block-info .img {
    height: 28vw;
    margin-left: 30px; }
  .vehicles-posts .block-posts .item-posts .title-post {
    font-size: 28px; }
  .header .flex {
    position: relative;
    padding-left: 175px; }
    .header .flex .logo {
      left: 0; }
  .wrap {
    padding: 0px 30px; }
  .section-main .slider-main .swiper-slide .img {
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px); }
  .section-main .slider-main .swiper-slide .info {
    margin-left: 30px; }
  .columns .content {
    width: 100%;
    margin: 0 0 50px; }
  .columns .aside {
    margin-top: 0;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; }
  .main-info .columns .content {
    padding-top: 50px; }
  .container .section-text.twin-text .title h1, .container .section-text.twin-text .title h2, .container .section-text.twin-text .title h3, .container .section-text.twin-text .title h4, .container .section-text.twin-text .title h5, .container .section-text.twin-text .title h6 {
    font-size: 40px; } }

@media (max-width: 1200px) {
  .section-person .info {
    margin-bottom: 35px; }
  .section-person .person-area .item-area {
    padding: 25px 20px 25px;
    width: -webkit-calc(50% - 34px);
    width: calc(50% - 34px); }
  .section-person .btn {
    min-width: auto; }
  .single-vehicle .block-info .text {
    width: -webkit-calc(60% - 30px);
    width: calc(60% - 30px); }
  .single-vehicle .block-info .img {
    height: 25vw;
    width: 40%; }
  .section-main .slider-main .swiper-slide .img {
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px); }
  .vehicles-posts .block-posts {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px); }
    .vehicles-posts .block-posts .item-posts {
      width: -webkit-calc(33.33% - 30px);
      width: calc(33.33% - 30px);
      margin: 0 15px 30px; }
    .vehicles-posts.organization .block-posts .item-posts .img {
        height: 30vw;
    }
      .vehicles-posts .block-posts .item-posts .title-post {
        margin: 15px 10px 8px;
        font-size: 24px; }
      .vehicles-posts .block-posts .item-posts .desc {
        font-size: 16px; } }

@media (max-width: 992px) {
  .section-docs .info {
    margin-bottom: 30px; }
    .section-docs .info .title {
      width: 100%; }
    .section-docs .info .action {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 20px -10px 0;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .section-docs .info .action .btn {
        padding: 9px 15px;
        margin: 0 10px 10px !important; }
  .section-docs .block-docs .item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    margin: 0 15px 30px; }
    .section-docs .block-docs .item .title h2, .section-docs .block-docs .item .title h3, .section-docs .block-docs .item .title h4, .section-docs .block-docs .item .title h5, .section-docs .block-docs .item .title h6 {
      font-size: 26px; }
  .section-person .person-area {
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    margin-left: -10px; }
    .section-person .person-area .item-area {
      margin: 0 10px 20px;
      width: -webkit-calc(50% - 20px);
      width: calc(50% - 20px); }
      .section-person .person-area .item-area .cont * {
        font-size: 16px; }
      .section-person .person-area .item-area .cont .info-profile * {
        font-size: 16px; }
  .single-vehicle {
    padding-bottom: 50px; }
    .single-vehicle .point-desc .info-list {
      margin-bottom: 20px; }
    .single-vehicle .block-info .text {
      width: 100%;
      margin-bottom: 40px; }
    .single-vehicle .block-info .img {
      height: 41vw;
      width: 100%;
      max-width: 700px;
      margin: 0 auto; }
  .vehicles-posts {
    padding-top: 0; }
    .vehicles-posts .block-posts .item-posts {
      width: -webkit-calc(50% - 30px);
      width: calc(50% - 30px); }
      .vehicles-posts .block-posts .item-posts .img {
        height: 22vw; }
      .vehicles-posts.organization .block-posts .item-posts .img {
        height: 45vw; }
  .m-panel {
    position: fixed;
    right: 0;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    z-index: 102;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    min-height: 100vh;
    pointer-events: all;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    opacity: 0; }
    .m-panel.open {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1; }
    .m-panel .content {
      text-align: left;
      padding: 100px 50px 50px;
      width: -webkit-calc(100% + 35px);
      width: calc(100% + 35px);
      overflow: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 100%; }
      .m-panel .content .nav {
        padding: 10px 0;
        margin-bottom: 50px; }
        .m-panel .content .nav .menu {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .m-panel .content .nav .menu > li {
            position: relative; }
            .m-panel .content .nav .menu > li > a {
              font-size: 18px;
              font-weight: 700;
              line-height: 24px;
              color: #222222;
              padding: 10px 0;
              display: inline-block; }
              .m-panel .content .nav .menu > li > a:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 5px;
                background: #EB061E;
                opacity: 0;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s; }
            .m-panel .content .nav .menu > li ul {
              display: none; }
            .m-panel .content .nav .menu > li.open ul {
              display: initial;
            }
              .m-panel .content .nav .menu > li ul li a {
                font-size: 18px;
                padding: 10px 20px;
                display: block;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                font-weight: 700;
                line-height: 1;
                font-weight: 700; }
  .hamburger {
    pointer-events: all;
    position: relative;
    z-index: 60;
    width: 40px;
    height: 36px;
    display: block;
    cursor: pointer;
    padding: 5px;
    margin-left: 30px; }
    .hamburger .line {
      height: 3px;
      width: -webkit-calc(100% - 10px);
      width: calc(100% - 10px);
      background-color: #222;
      position: absolute;
      left: 5px; }
      .hamburger .line:nth-child(1) {
        top: 5px; }
      .hamburger .line:nth-child(2) {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .hamburger .line:nth-child(3) {
        bottom: 5px; }
  .logo {
    height: 100px;
    width: 100px; }
  main {
    padding-top: 105px;
    padding-bottom: 90px; }
  .header .info {
    min-height: 40px; }
    .header .info .wrap a {
      padding: 5px 0; }
  .header .flex {
    min-height: 65px; }
    .header .flex .action {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .header .flex .action .nav {
        display: none; }
  .section-main .slider-main .swiper-container {
    min-height: 550px;
    height: 100vh; }
  .section-main .slider-main .swiper-slide .info {
    margin-left: 0; }
  .section-main .slider-main .swiper-slide .img {
    width: 100%; }
  .title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
    font-size: 40px; }
  body {
    font: 400 16px/24px "OpenSans"; }
  .columns .aside .cont .info .list-alarms .row * {
    font-size: 16px;
    line-height: 24px; }
  .columns .aside .title h2, .columns .aside .title h2, .columns .aside .title h3, .columns .aside .title h4, .columns .aside .title h5, .columns .aside .title h6 {
    font-size: 26px; }
  .btn {
    font-size: 16px; }
  .footer .flex .logo {
    width: 120px;
    height: 145px;
    margin-bottom: 15px; }
  .footer .flex .footer-info {
    margin-bottom: 15px; }
    .footer .flex .footer-info * {
      font-size: 16px;
      line-height: 24px; }
  .container.vehicles-section {
    padding-bottom: 20px; }
  .container .section-text .action-btn {
    margin-top: 0; }
  .container .section-text.twin-text {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-bottom: 0; }
    .container .section-text.twin-text .title h1, .container .section-text.twin-text .title h2, .container .section-text.twin-text .title h3, .container .section-text.twin-text .title h4, .container .section-text.twin-text .title h5, .container .section-text.twin-text .title h6 {
      font-size: 36px; }
    .container .section-text.twin-text .item-text {
      width: -webkit-calc(50% - 60px);
      width: calc(50% - 60px);
      margin: 0 30px 20px; } }

@media (max-width: 767px) {
    .table-list .block-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 2px solid #E5E5E5;
    }
    .table-list .block-list .row{
        width: calc(50% - 10px);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-bottom: 2px solid #E5E5E5;
        border-top: none;
    }
    .table-list .block-list .row:last-child,
    .table-list .block-list .row:nth-last-child(2):nth-child(odd){border-bottom:none}
    .table-list .block-list .row:first-child{border-top:none}
    .table-list .title{text-align:center;border-bottom: 2px solid #E5E5E5;padding-bottom:20px;margin-top: 20px;margin-bottom:0}
    .table-list .block-list .row > *{width: 100% !important;padding-right: 0!important}
    .table-list .block-list .row .icon{width: auto !important;}
  .section-docs .info .action .btn {
    padding: 7px 15px; }
  .section-person {
    margin-bottom: 35px; }
    .section-person .info {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .section-person .info .title {
        width: 100%;
        margin: 0 0 20px; }
    .section-person .person-area .item-area {
      width: -webkit-calc(100% - 20px);
      width: calc(100% - 20px); }
      .section-person .person-area .item-area .title h2, .section-person .person-area .item-area .title h3, .section-person .person-area .item-area .title h4, .section-person .person-area .item-area .title h5, .section-person .person-area .item-area .title h6 {
        font-size: 24px; }
      .section-person .person-area .item-area .cont * {
        font-size: 14px;
        line-height: 22px; }
      .section-person .person-area .item-area .cont .info-profile * {
        font-size: 14px;
        line-height: 22px; }
  .block-tabs .links-tab {
    margin-bottom: 15px; }
  .container .section-text.twin-text .title h1, .container .section-text.twin-text .title h2, .container .section-text.twin-text .title h4, .container .section-text.twin-text .title h5, .container .section-text.twin-text .title h6 {
    font-size: 30px; }
  .container .section-text.twin-text .item-text {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px); }
  .point-desc .info-list {
    margin-bottom: 30px; }
    .point-desc .info-list .row * {
      font-size: 16px;
      line-height: 24px; }
  main {
    padding-bottom: 50px; }
    .table-list .title h2, .table-list .title h3, .table-list .title h4, .table-list .title h5, .table-list .title h6 {
      font-size: 22px; }
  body {
    font: 400 14px/24px "OpenSans"; }
  .footer .flex .logo {
    width: 95px;
    height: 115px; }
  .footer .flex .footer-info * {
    font-size: 14px;
    line-height: 20px; }
  .footer .flex .copyright p {
    text-align: center;
    font-size: 12px; }
  .header .info {
    min-height: 44px; }
    .header .info .wrap a {
      font-size: 14px; }
  .header .flex .action .connect {
    display: none; }
  .m-panel .content .connect {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .m-panel .content .connect .icon {
      font-size: 25px; }
    .m-panel .content .connect span {
      font-size: 18px;
      font-weight: 700;
      display: inline-block;
      margin-left: 15px;
      line-height: 1;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .wrap {
    padding: 0px 15px; }
  .logo {
    height: 80px;
    width: 80px; }
  .columns .content {
    padding-top: 35px; }
  .columns .aside .title h2, .columns .aside h3, .columns .aside h4, .columns .aside h5, .columns .aside h6 {
    font-size: 22px; }
  .columns .aside .block-archives {
    padding: 20px 20px; }
  .columns .aside .cont {
    padding: 20px 20px;
    margin-bottom: 25px; }
    .columns .aside .cont .info .list-alarms .row {
      padding-left: 25px; }
      .columns .aside .cont .info .list-alarms .row * {
        font-size: 14px;
        line-height: 20px; }
    .columns .aside .cont .info .block-btn .btn {
      max-width: 300px;
      width: 100%; }
    .columns .aside .cont .info-alarms * {
      font-size: 14px;
      line-height: 24px; }
  .title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
    font-size: 30px; }
  .btn {
    font-size: 14px;
    min-width: 220px;
    padding: 7px 15px; }
  .editor {
    margin-bottom: 20px; }
  .section-main .slider-main .swiper-slide .info .action .btn {
    min-width: 150px; }
  .section-main .slider-main .swiper-slide .info .action .sl-btn .swiper-button-prev,
  .section-main .slider-main .swiper-slide .info .action .sl-btn .swiper-button-next {
    width: 22px;
    height: 22px;
    margin: 0 5px; }
  .banner {
    min-height: 150px;
    height: 33vw;
    margin-bottom: 30px; }
  .banner-parallax {
    min-height: 250px;
    height: 90vw;
    margin-bottom: 30px; }
  .container .section-text {
    margin-top: 30px; }
  .vehicles-posts .block-posts .item-posts {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px); }
    .vehicles-posts .block-posts .item-posts .title-post {
      font-size: 20px;
      margin: 15px 10px 5px; } }

@media (max-width: 576px) {
  .section-docs .block-docs .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px); }
  .single-vehicle {
    padding-bottom: 30px; }
    .single-vehicle .block-info .img {
      height: 50vw; }
  .vehicles-posts .block-posts .item-posts {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px); }
    .vehicles-posts .block-posts .item-posts .img {
      height: 50vw; }
    .vehicles-posts.organization .block-posts .item-posts .img {
      height: 90vw; }
  .section-main .slider-main .swiper-container {
    min-height: 400px;
    height: 85vh; }
    .section-main .slider-main .swiper-container .swiper-pagination-bullets {
      bottom: 10px; }
  .section-main .slider-main .swiper-slide .info {
    margin-bottom: 70px;
    padding: 20px 15px;
    background: rgba(255, 255, 255, 0.9); }
  .logo {
    height: 70px;
    width: 70px; }
  .header .flex {
    min-height: 55px; }
  main {
    padding-top: 100px;
    padding-bottom: 90px; }
  .columns .aside .block-archives {
    padding: 20px 0; }
  .columns .aside .cont .info-alarms .atten-info {
    margin-bottom: 15px; }
  .point-desc .info-list {
    margin-bottom: 30px; }
    .point-desc .info-list.info-active .row strong {
      width: 100%; }
    .point-desc .info-list.info-active .row span {
      width: 100%; }
    .point-desc .info-list .row {
      margin-bottom: 5px; }
      .point-desc .info-list .row * {
        line-height: 22px; }
      .point-desc .info-list .row strong {
        width: 100%; }
      .point-desc .info-list .row span {
        width: 100%; }
  .title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
    font-size: 26px; }
  .regulation-documents .block-btn .btn {
    width: 100%;
    min-width: auto;
    max-width: 320px; }
  .container .section-text.twin-text .title h1, .container .section-text.twin-text .title h2, .container .section-text.twin-text .title h3, .container .section-text.twin-text .title h4, .container .section-text.twin-text .title h5, .container .section-text.twin-text .title h6 {
    font-size: 26px; } }

@media (max-width: 450px){
    .table-list .block-list .row{width: 100%;}
}

#calendar {
  max-width: 940px;
  margin: 0 auto;
}
.fc-toolbar h2, .fc-day-header span {
    text-transform: capitalize;
}
#calendar .fc-title, #calendar .fc-button .fc-icon {
  color: #FFF;
}
#calendar .fc-left, #calendar .fc-right {
  width: 190px;
}
#calendar .fc-right {
  text-align: right;
}
.form-checkbox{margin-bottom: 10px;}
.form-checkbox input{display: none;}
.form-checkbox input:checked + span::after{opacity: 1;width: 14px;height: 14px;top: 4px;left: 4px;transition: all ease 0.25s;}
.form-checkbox span{position: relative;color: inherit;display: inline-flex;align-items: center;flex-wrap: wrap;line-height: 1.15;font-size: calc((100vw - 320px)/1600*(18 - 16) + 16px);cursor: pointer;min-height: 22px;padding-left: 32px;}
.form-checkbox span::before, .form-checkbox span::after{content: "";display: block;position: absolute;box-sizing: border-box;}
.form-checkbox span::before{width: 22px;height: 22px;left: 0;top: 0;background-color: transparent;transition: all ease 0.25s;border: 1px solid #EB061E;}
.form-checkbox span::after{width: 0px;height: 0px;background-color: #EB061E;top: 10px;left: 10px;opacity: 0;transition: all ease 0.25s;}
#calendar-export h3{font-weight: 700;color: #222222;line-height: normal;text-transform: uppercase;font-family: "Oswald";font-size: 25px;text-align: center;margin: 10px 0 30px;line-height: 1.3;}
#calendar-export .form-checkbox-wrapper{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
#calendar-export .form-checkbox{width: 50%;}
#calendar-export .buttons{text-align: center;margin: 20px 0;}
#calendar-export .success{position: absolute;top: 0;left: 0;height: 100%;width: 100%;background: #f9f9f9;display: flex;justify-content: center;align-items: center;font-size: 20px;opacity: 0;visibility: hidden;-webkit-transition: ease .4s;-o-transition: ease .4s;transition: ease .4s;}
#calendar-export .success.active{opacity: 1;visibility: visible;-webkit-transition: ease .4s;-o-transition: ease .4s;transition: ease .4s;}
.member-description-main {
    padding: 0 10px;
}
.desc.member-email {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contact-page .contact-item + .contact-item {
    padding-left: 65px;
}
.contact-page .contacts {
    display: flex;
    margin-bottom: 20px;
}
.contact-page .contacts strong, .contact-page .right-content strong {
    font-weight: 700;
}
.contact-page .contact-email a {
    font-weight: 700;
    color: #EB061E;
}
